<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <script type="text/javascript" src="bundle.js" async defer></script>
    </head>
    <body>
        <section id="main">
            <menu :title-list="titles"></menu>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>名前</th>
                            <th>メールアドレス</th>
                            <th>性別</th>
                            <th>誕生日</th>
                        </tr>
                    </thead>
                    <tbody v-for="member in members">
                        <tr>
                            <td>{{ member.name }}</td>
                            <td>{{ member.mail }}</td>
                            <td>{{ member.gender }}</td>
                            <td>{{ member.birthday }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
